@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: "myFont";
  font-style: normal;
  font-weight: normal;
  src: url("../../public/fonts/ats-font/eot/ats-font.eot");
  src: url("../../public/fonts/ats-font/eot/ats-font.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("../../public/fonts/ats-font/woff2/ats-font.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("../../public/fonts/ats-font/woff/ats-font.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../../public/fonts/ats-font/ttf/ats-font.ttf") format("truetype");
}
* {
  font-family: "myFont" !important;
}